/* Agrega márgenes y estilos adicionales para las nuevas secciones */
.card-title {
    margin-bottom: 20px;
    font-weight: bold;
    color: #4a4a4a;
}

.card-text, .list-group-item {
    font-size: 1.1rem;
    color: #555;
}

/* Hover effect en listas */
.list-group-item:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

/* Hover sobre las cards */
.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
